
<footer id="footer">
    <div class="text-center center-block">
        <p class="copyright">&copy; 2017 - Harshit Sharma</p>
        <br />
    </div>
</footer>

</div>

<div id="bg"></div>

<!-- Latest compiled and minified JavaScript -->
<!-- js -->
<script src = "/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src = "/javascripts/bootstrap.min.js"></script>

<script src="/javascripts/skel.min.js"></script>
<script src="/javascripts/util.js"></script>
<script src="/javascripts/main.js"></script>
<script src ="/javascripts/npm.js"></script>

</body>
</html>