<% include ./partials/header.ejs %>

<article id="about">
    <h2 class="major">About</h2>
    <span class="image main"><img src="images/pic03.jpg" alt="" /></span>
    <p>This website allows you to ..................</p>
</article>

<% include ./partials/footer.ejs %>