
<% include ./partials/header.ejs %>

<div id="wrap">
  <div class="container">
    <br />
    <!-- Banner -->
    <section id="banner">
      <div class="content">
        <span class="icon fa-buysellads fa-5x"></span>
        <header>
          <h1>AdPoster</h1>
          <p>A classified ad website which allows you to buy, sell any product.</p>
        </header>
      </div>
    </section>

    <!-- Section -->
    <section>
      <header class="major">
        <h2>Find out anything</h2>
      </header>
      <div class="features">
        <article>
          <span class="icon fa-mobile"></span>
          <div class="content">
            <h3>Mobile</h3>
          </div>
        </article>
        <article>
          <span class="icon fa-laptop"></span>
          <div class="content">
            <h3>Electronics & Appliances</h3>
          </div>
        </article>
        <article>
          <span class="icon fa-car"></span>
          <div class="content">
            <h3>Cars</h3>
          </div>
        </article>
        <article>
          <span class="icon fa-motorcycle"></span>
          <div class="content">
            <h3>Bikes</h3>
          </div>
        </article>
        <article>
          <span class="icon fa-home"></span>
          <div class="content">
            <h3>Real Estate</h3>
          </div>
        </article>
        <article>
          <span class="icon fa-briefcase"></span>
          <div class="content">
            <h3>Jobs & Services</h3>
          </div>
        </article>
        <article>
          <span class="icon fa-paw"></span>
          <div class="content">
            <h3>Pets</h3>
          </div>
        </article>
        <article>
          <span class="icon fa-shirtsinbulk"></span>
          <div class="content">
            <h3>Fashion</h3>
          </div>
        </article>
      </div>
    </section>
    </div>
  </div>
<% include ./partials/footer.ejs %>